<div class="header bg-gradient-danger pb-4 pt-5 pt-md-8">
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">{{ pageTitle }}</h3>
              </div>
              <div class="col">
                <button (click)="goBack()" pButton type="button" icon="pi pi-angle-left" class="p-button-rounded p-button-info float-right" label="Back"></button>
              </div>
          </div>
          </div>
          <div class="card-body">

            <form [formGroup]="form" (submit)="onSubmitForm()">
              
              <div class="row">
                
                <!-- NAME -->
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="name">Name</label><br>
                    <input formControlName="name" class="form-control" type="text" />
                    <app-form-field-error [form-control]="form.controls.name"></app-form-field-error>
                  </div>
                </div>
                
                <!-- DESCRIPTION -->
                <div class="col-md-7">
                  <div class="form-group">
                    <label for="name">Description</label><br>
                    <input formControlName="description" class="form-control" type="text" />
                    <app-form-field-error [form-control]="form.controls.description"></app-form-field-error>
                  </div>
                </div>

              </div>

              <div class="row">
                

                <!-- GOAL -->
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="name">Goal</label><br>
                    <input formControlName="goal" class="form-control" type="text" />
                    <app-form-field-error [form-control]="form.controls.goal"></app-form-field-error>
                  </div>
                </div>

                 <!-- WEEK FREQUENCY -->
                 <div class="col-md-7">
                  <div class="form-group">
                    <label for="name">Times per Week</label><br>
                    <p-dropdown [options]="weekFrequencies" optionValue="code" optionLabel="code" formControlName="weekFrequency" [style]="{'width':'100%'}"></p-dropdown>
                    <app-form-field-error [form-control]="form.controls.weekFrequency"></app-form-field-error>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col">
                     <!-- IS ACTIVE ROUTINE -->
                <div class="col-md-5">
                  <div class="form-group">
                    <label for="name">Current routine?</label><br>
                    <p-checkbox formControlName="isActiveRoutine" [binary]="true"></p-checkbox> This routine {{ currentAction == 'new' ? 'will be' : 'is' }} my active one.
                    <app-form-field-error [form-control]="form.controls.isActiveRoutine"></app-form-field-error>
                  </div>
                </div>
                </div>
              </div>
              
              <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

              <button pButton type="submit" class="p-button-success p-button-rounded" label="{{ currentAction == 'new' ? 'Create' : 'Edit' }}"></button>           
              <button *ngIf="currentAction == 'edit'" (click)="deleteResource()" pButton type="button" class="p-button-danger p-button-rounded float-right" label="Delete"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  