<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Fitness Manager</h1>
            <p class="text-lead text-light">Log in to keep your fitness progress!</p>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          
          <div class="card-body px-lg-5 py-lg-5">

            <div class="row">
              <div class="col-md">
                <div class="text-center text-muted mb-4">
                  <small>Sign in with your credentials</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <form [formGroup]="form" (submit)="submitForm()">
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input formControlName="email" class="form-control" placeholder="Email" type="email">
                    </div>
                    <app-form-field-error [form-control]="form.controls.email"></app-form-field-error>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input formControlName="password" class="form-control" placeholder="Password" type="password">
                    </div>
                    <app-form-field-error [form-control]="form.controls.password"></app-form-field-error>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12">
                      <app-server-error-messages [server-error-messages]="errorMessages"></app-server-error-messages>
    
                    </div>
                  </div>
    
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
            


            <div class="col-12 text-center">
              <small>Don't have an account yet? <a href="#" routerLink="/register" class="text-light"> Register now!</a></small>
            </div>
          </div>
        </div>
        <div class="row mt-3">
        </div>
      </div>
    </div>
    
  </div>
  