<div class="header bg-gradient-danger pb-4 pt-5 pt-md-8">
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <app-page-header
          page-title="{{pageTitle}}"
          button-link="/exercises/list">
          </app-page-header>
          <div class="card-body">

            <form [formGroup]="form" (submit)="onSubmitForm()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Name</label><br>
                    <input formControlName="name" class="form-control" type="text" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <p-multiSelect (onChange)="selectExerciseTags($event)" formControlName="tags" [style]="{'width':'100%'}" [options]="tags" optionValue="id" optionLabel="name"></p-multiSelect>
                </div>
              </div>
              <button pButton type="submit" class="p-button-success p-button-rounded mt-3" label="{{ currentAction == 'new' ? 'Create' : 'Edit' }}"></button>           
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  